@import "../../assets/variables";



.signin-box{
  &__heading-secondary {
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-primary-4;
    margin-bottom:.5rem;
  }
  
}

.form {
  font-size: 1.6rem;
  font-weight: 700;
  &__group {
    margin-bottom:2rem;
  }

  &__control {
    margin-bottom:1rem;
  }

  &__label {
    margin-left:2rem;
    margin-top: 0.7rem;
    display: block;
  }

 &__input {
    font-family: inherit;
    color: inherit;
    padding: 1.2rem 2rem;
    border-radius: 4px;
    background-color:$color-primary-6;
    border: none;
    border:1px solid $color-primary-2;
    width: 100%;
    display: block;
    &::-webkit-input-placeholder {
      color:$color-primary-2;
      text-align:left;
    }
  }

  &__text-error {
    color: #b40e0e;
  }


  &__actions {
    text-align: center;
  }

  &__btn {
      background-color:#1F1F21;
      border-radius: 4px;
      color:$color-white;
      padding: 1.2rem 2rem;
      width: 100%;
      border: none;
      cursor: pointer;
      font-size: inherit;
      
      &:focus {
       outline: none;
      }  
    
&:disabled,
&:disabled:hover,
&:disabled:active {
  background-color:$color-primary-7;
  color:$color-primary-8;
  border:$color-primary-7;
  cursor: pointer;
  cursor: not-allowed;
 
      }
   }

   &__toggle {
     font-size: inherit;
     border: none;
     color:$color-primary-8;
     background-color: transparent;
     padding: 1.2rem 2rem;
     cursor: pointer;
     

     &:hover,
     &:active{
       color:$color-primary-1;

     }
   }



  
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}


