@import "../../assets/mixins";
.list {
  list-style: none;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap:1rem;
  margin: 3rem;
  @media only screen and (max-width:$bp-smallest){
    margin:3rem  0;
  
 }
}
