
$primary-color:rgba(255, 246, 211, 0.6);
$color-white:#FFFFFF;
$color-primary-1:#859BBCF5;
$color-primary-2:#8D99AE;
$color-primary-3:#001A03;
$color-primary-4:#2B2D42;
$color-primary-5:#1F1F21;
$color-primary-6:#FAFAFA;
$color-primary-7:#ccc;
$color-primary-8:#292929;
$color-black:#000;
$color-primary-9:#055CC13B;
$color-green:#03D4B6;
$dark-green: #178924;
$color-grey-light:#00000014;
$color-dark:#2C2C2C;
$color-dark-2:#0000000F;
$color-dark-blue:#04014E;
$color-dark-blue-2: #161F6A;
$color-grey-light-3:#666D92;
$color-green-light: #5FB960;
$color-grey-3:#f6f6f6;
$color-grey-2:#DBE3EE;
$color-dark-1:#2C2C2C;
$color-light:#a3abb7;
    
